::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(192, 192, 192), rgb(192, 192, 192));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, rgb(192, 192, 192), rgb(192, 192, 192));
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}

@keyframes drink {
  0% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 100% 5%;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.medium-checkbox .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.modal-resetPassword .ant-modal-content {
  background-color: #f9fcff;
}

.avatar-uploader .ant-upload-select {
  width: 130px !important;
  height: 130px !important;
}

.ant-btn {
  box-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
.hideArrowsNumber input::-webkit-outer-spin-button,
.hideArrowsNumber input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hideArrowsNumber input[type='number'] {
  -moz-appearance: textfield;
}

/* blink */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Firefox */
.hidden-scroll-table .ant-table-body {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f5f5f5;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  /* thin, auto, none */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* mobile/tablet css for Range Picker  */
@media (max-width: 1023px) {
  .ant-picker-panels {
    display: flex;
    flex-wrap: wrap !important;
    width: 300px !important;
  }

  .ant-picker-panel:first-child .ant-picker-date-panel .ant-picker-header-super-next-btn,
  .ant-picker-panel:first-child .ant-picker-date-panel .ant-picker-header-next-btn {
    visibility: visible !important;
  }

  .ant-picker-panel:nth-child(2) .ant-picker-date-panel .ant-picker-header-super-next-btn,
  .ant-picker-panel:nth-child(2) .ant-picker-date-panel .ant-picker-header-next-btn {
    visibility: hidden !important;
  }
}

